.HeaderMain {
    // background-image: url('../../images/assets/bg-rd@2x.png');
    background-color: #cff5fe;
    background-repeat: no-repeat;
    height: 620px;
    background-size: cover;
    background-position-y: 0px;
    background-position: 0px 0px;
    background: rgba(255,214,108,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,214,108,1) 0%, rgba(240,197,105,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,214,108,1)), color-stop(100%, rgba(240,197,105,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,214,108,1) 0%, rgba(240,197,105,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,214,108,1) 0%, rgba(240,197,105,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,214,108,1) 0%, rgba(240,197,105,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,214,108,1) 0%, rgba(240,197,105,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd66c', endColorstr='#f0c569', GradientType=1 );
}

.HeaderMain__box { 
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.HeaderMain__logo {
    margin: 0 auto;
    text-align: center;
    max-height: 500px;
}

.HeaderMain__dogs {
    display: block;
}

.HeaderMain__dogs--cover {
   max-width: 500px;
   position: absolute;
   bottom: 10px;
   margin: 0 auto;
   text-align: center;
   left: 0;
   right: 0;
}

.HeaderMain__dogs--cover img {
    max-width: 100%;
}



.HeaderMain__logo--img {
    max-width: 180px;
    margin: 0 auto;
}

.HeaderMain__logo--img img {
    max-width: 100%;
}

.HeaderMain__logo--text {
    color: brown_footer;
}

.HeaderMain__logo--text p {
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.HeaderMain__logo--btn {
    padding-top: 17rem;
    padding-bottom: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
}

.HeaderMain__logo--btn a {
    color: #fff;
    display: block;
    text-decoration: none;
    background: #54e0df;
    max-width: 170px;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-box-shadow: 2px 2px 0px 0px #008090;
    box-shadow: 2px 2px 0px 0px #008090;
    font-family: 'Open Sans', sans-serif;
    font-weight: font_open_sans_size_bold;
    transition: background-color 250ms ease;
}

.HeaderMain__logo--btn a:hover {
    background: #50d3d0;
}

@media screen and (min-width: 430px) {
    .HeaderMain {
        background-position-y: -76px;
        background-position: 0px -76px;
    }
}

@media screen and (min-width: 470px) {
    .HeaderMain {
        background-position-y: -213px;
        background-position: 0px -213px;
    }
}

@media screen and (min-width: 570px) {
    .HeaderMain {
        background-position-y: -388px;
        background-position: 0px -388px;
    }
}

@media screen and (min-width: 700px) {
    .HeaderMain {
        background-position-y: -573px;
        background-position: 0px -573px;
    }
}

@media screen and (min-width: 851px) {
    .HeaderMain {
        height: 386px;
        // background-image: url('../../images/assets/bg-web.png');
        overflow: hidden;
        background-position-y: 0px;
        background-position: 0px 0px;
    }
    
    .HeaderMain__box { 
        display: block;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    .HeaderMain__logo {
       display: inline-block;
       vertical-align: top;
    }

    .HeaderMain__logo--btn {
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
    }

    .HeaderMain__logo--btn a {
        font-size: 1rem;
    }

    .HeaderMain__dogs {
        display: inline-block;
    }
    
    .HeaderMain__dogs--cover {
        max-width: 542px;
        position: relative;
        bottom: 0;
    }

    .HeaderMain__dogs--cover img {
        max-width: 100%;
    }

}

@media screen and (min-width: 900px) {
    .HeaderMain__logo {
        padding: 0% 5%;
    }
}

@media screen and (min-width: 1550px) {
    .HeaderMain {
        background-position-y: -58px;
        background-position: 0px -58px;
    }
}

@media screen and (min-width: 1850px) {
    .HeaderMain {
        background-position-y: -141px;
        background-position: 0px -141px;
    }
}